body{

  height: 100vh;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),url(../img/pexels-jessie-crettenden-3714902.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;


  }
.wilpattumainhead{
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
  background-color: rgb(255, 166, 0);
}
.wilpattumainabout h1{
  color: #fff;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;

}

.wilpattumainabout{
  display: block;
  margin-top: 4vh;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: #f2f2f2;
  font-size: 20px;
  margin-top: 30px;

}
.wilpattumap iframe{
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  display: inline-block;
}
.wilpattuwildlife h1{
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.wilpattuwildlife p{
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  color: #f2f2f2;
  margin-top: 20px;
}
.wilpatturow{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.wilpattucolumn{
  padding: 10px;
}
.wilpatturow img{
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  transform: rotate(0);
  transition: transform 0.4s ease-in-out
}
.wilpatturow img:hover{
  transform: rotate(10deg);

}
.time{
  color: #f2f2f2;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
.timehead{
  text-decoration: line-through;
  margin-bottom: 20px;
}
.timeimg img{
  margin-left:auto;
  margin-right: auto;
  border-radius: 30px;
  display: inline-block;
}





















@media screen and (max-width:992px){
  .timeimg img{
    width: 100%;
    height: 30%;
  }
}







@media screen and (max-width:425px){
  .wilpattumainhead{
    font-size: 15px;
  }
  .wilpattumainabout h1{
    font-size: 15px;
  }
  .timeimg img{
    width: 100%;
    height: 40%;
  }
  .wilpatturow img{
    width: 200px;
    height: 300px;
  }
}